.wrap {
    display: flex;
    flex-direction: row;
}

.yy {
    width: 10vw;
}

.ant-menu-submenu-arrow, .ant-popover-arrow, .ant-popover-title {
    display: none;
}

.ant-popover-inner-content {
    padding: 0
}

.arrCards {
    display: inline-flex;
    margin: 1vw;
}

.ant-card-actions {
    border-top: none;
}

.ant-card {
    display: inline-flex;
}

.ant-card-meta {
    flex-direction: column-reverse;
}

.cardDescp {
    border-collapse: separate;
    border-spacing: 1vw 0.5vh;
    width: fit-content;
    white-space: nowrap;
}

.cardDescp a:hover {
    text-decoration: underline;
}

.week {
    display: flex;
    flex-direction: row;
}

.week

.week p span {
    color: red;
}
